
body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #111;
  color: #99daff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Righteous', cursive;
  font-weight: normal;
  color: rgb(243, 209, 56);
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2.15em;
}
h4 {
  font-size: 1.75em;
}
h5 {
  font-size: 1.5em;
}
h6 {
  font-size: 1.25em;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: 0.5em;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
main > div {
  margin: 1em;
}

canvas {
  border: 2px solid #3AA;
  width: 600px;
  height: auto;
}

.boton {
  font-family: 'Righteous', cursive;
  font-size: x-large;
  text-transform: uppercase;
  /* font-weight: bold; */
  padding: 0.75em;
  color: #f08;
  background-color: #222;
  cursor: pointer;
  border: 4px dotted #99daff;
}

.bloque {
  display: block;
  margin-bottom: 0.5em;
}

.boton:hover {
  color: #ff2a9b;
  background-color: #111;
}

