<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Space Rocks</title>
<link href="styles.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&family=Righteous&display=swap" rel="stylesheet">
</head>
<body>
  <h1>Space Rocks</h1>
  <nav>
    <button title="{{ page.textlang }}">&#127760;</button>
    <ul>
      <li><a href="spacerocks-es.html">Español</a></li>
      <li><a href="spacerocks-en.html">English</a></li>
    </ul>
  </nav>
  <main>
    <div>
      <button id="btnInicia" type="button" class="boton bloque">{{ page.startgame }}</button>
      <button type="button" class="boton bloque" id="btn.fullscreen">{{ page.fullscreen }}</button>
      {{ content }}
    </div>
    <div>
      <canvas id="areadejuego" width="600" height="400">
      </canvas>
    </div>
  </main>

<p>SpaceRocks V. 0.1</p>
<p>&copy; 2020, 2023 Jesús Abelardo Saldívar Aguilar</p>

<script type="text/javascript" defer="defer">
{% include spacerocks.js %}
</script>
</body>
</html>
